@import"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/svg-with-js.min.css" ;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    color: #fff;
    background-color: #1e1c1d;
    overflow: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 5px #b8b4b4);
}
.navbar a{
    font-size: 18px;
    color:  white;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 500;
    transition: .3s;
}
.navbar a:hover,
.navbar a.Active{
    color: #3616e8;
}
.main{
    min-height: 100vh;
    background:url(t.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: .3s ease;
}
.main.active{
    filter: blur(15px);
    pointer-events: none;
}
@media only screen and (max-width: 800px) {
  .container {
    /* width: 0px; */
    display: flex;
    padding: 5px;
    font-size: 12px;
  }
}

.container{
    display: flex;
    height:100vh ;
    width: 200%;
}
.home{
    position: relative;
    left:-50% ;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content{
    max-width:600px ;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.home-content h1{
    font-size: 78px;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(0,0,0,.3);
}
.home-content p{
    font-size: 16px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0,0,0,.3);
    margin-bottom: 30px;
}   
.home-content .start-btn{
    width: 190px;
    height: 55px;
    background: #1e1c1d;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px; 
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
   letter-spacing: 1px;
    cursor: pointer;
    transition: .5s;
}
.home-content .start-btn:hover{
    background: #121847;
   box-shadow: none;
   
}
.popup-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.9);
    width: 500px;
    background: #fff;
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}
.popup-info.active{
    opacity: 1;
    pointer-events: auto;
     transform: translate(-50%,-50%) scale(1);
    /* box-shadow: 0 0 20px rgba(0,0,0,.2);
    transition: .5s; */
}
.popup-info h2{
   font-size: 50px;
   color: rgb(34, 34, 188);
}
.popup-info .info{
   display: inline-block;
   font-size: 16px;
   color: #333;
   font-weight: 500;
   margin: 4px 0;
}
.popup-info .btn-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid #999;
    margin-top: 10px;
    padding: 15px 0 7px;
}
.popup-info .btn-group .info-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 40px;
    background: #2111d3;
    border: 2px solid #2111d3;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    transition: .5s;
}  
.popup-info .btn-group .info-btn:nth-child(1){
    background: transparent;
    color: #3616e8;
}
.popup-info .btn-group .info-btn:nth-child(1):hover{
    background:  #3616e8;
    color: #fff;
}
.popup-info .btn-group .info-btn:nth-child(2):hover{
    background:  #1a0c53;
    border-color: #3616e8;
}
.quiz-section{
    position: relative;
    left: -50%;
    /* left: o; */
    width:100%;
    background: #18161e;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      z-index: 100;
    transition: .8s ease-in-out; 
    transition-delay: .25s;
  
 }
.quiz-section.active {
   left: 0;
}    
.quiz-section .quiz-box{
    position: relative; 
    width: 500px;
    background-color: transparent;
    border: 2px solid rgb(36, 36, 121);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity:0 ;
    pointer-events: none;
    transform:scale(.9);
    transition: .3s ease;
    transition-delay: 0s;
}
.quiz-section .quiz-box.active{
    opacity:1;
    pointer-events: auto;
    transform:scale(1) ;
    transition: 1s ease;
    transition-delay: 1s;
}
.quiz-box h1{
    font-size: 32px;
    text-align: center;
    background: linear-gradient(45deg, transparent,#3616e8,transparent);
    border-radius: 6px;
}
.quiz-box .quiz-header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px 0;
    border-bottom:2px solid #2111d3;
    margin-bottom: 25px;
}
.quiz-header span{
    font-size: 18px;
    font-weight: 500;
}
.quiz-header .header-score{
   background: #1a0c53; 
   border-radius: 3px;
   position: 7px;
}
.quiz-box .question-text{
     font-size: 24px;
     font-weight: 600;
}
.option-list .option{
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid rgb(32, 32, 42);
    border-radius: 4px;
    font-size: 17px;
    margin:15px 0;
    cursor: pointer;
    transition: .3s;
}
.option-list .option.correct{
    background: #1a1b1d;
    color: #117111;
    border-color: aqua;
}
.option-list .option.incorrect{
    background: #1c1d24;
    color: #c11c1c;
    border-color: rgb(175, 28, 28);
}
.option-list .option.disabled{
    pointer-events: none;
}
.option-list .option:hover{
    background: rgba(0,0,0,.3);
    border-color: #1e1c1d;
}

.quiz-box .quiz-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #2111d3;
    padding-top: 20px;
    margin-top: 30px;
}
.quiz-footer .question-total{
    font-size: 16px;
    font-weight: 600;
}

.quiz-footer .next-btn{
    width:100px;
    height: 45px;
    background: rgb(32, 32, 42);
    border: 2px solid rgb(32, 32, 42);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #c2c1cd;
    font-weight:600;
    pointer-events: none;
    cursor: pointer;
}
.quiz-footer .next-btn.active:hover{
    background:#2111d3;
    border-color: #141ea1;
}
.quiz-footer .next-btn.active{
    pointer-events: auto;
    background: #141ea1;
    border-color: #141ea1;
    color: #999;
}
.quiz-section .result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.9);
    width: 500px;
    background: transparent;
    border: 2px solid rgb(33, 33, 182);
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}
.quiz-section .result-box.active{
   opacity: 1;
   pointer-events: auto; 
    transform: translate(-50%,-50%) scale(1);
}
.result-box h2{
   font-size: 52px; 
}
.result-box .percentage-container{
    width: 300px;
    background: #308351;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 20px 0 40px;
}

.percentage-container .circular-progress{
    position: relative;
    width: 250px;
    height: 250px;
    background:conic-gradient(#096c09 3.6deg,rgba(255,255,255,.1)0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.percentage-container .circular-progress::before{
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: #18181e;
    border-radius: 50%;
}
.circular-progress .progress-value{
    position: relative;
    font-size: 45px;
    font-weight: 600;
}
.percentage-container .score-text{
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
}
.result-box .buttons{
    display: flex;
}
.buttons button{
    width: 130px;
    height: 47px;
    background: #141ea1;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #1a1b1d;
    font-weight: 600;
    margin:0 20px 20px;
    cursor: pointer;
    transition: .5s;
}
.buttons button:nth-child(1):hover{
    background: #141ea1;
    border-color: white;
}
.buttons button:nth-child(2){
    background: transparent;
    color: #141ea1;
}
.buttons button:nth-child(2):hover{
    background: #141ea1;
    color: white;
}